.diploma-engineer {
  background-color: #ffffff;
  height: auto;

  width: 100%;
}

.slick-prev,
.slick-next {
  background-color: rgb(2, 2, 2) !important;
  width: 80px !important;
  height: 60px !important;
  z-index: 100;
}

.slick-next {
  right: 0px !important;
}
.slick-prev {
  left: 0px !important;
}
